.editor-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  min-height: 250px;

}

.toolbar {
  display: flex;
  gap: 8px;
  padding: 10px;
  border-bottom: 0.1px solid rgb(198, 198, 198);
}

.toolbar button {
  padding: 6px 12px;
  background: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toolbar button.is-active {
  background: #007bff;
  color: white;
}
.ProseMirror{
  padding: 10px;
  border: none;
}
.ProseMirror h1{
    font-size: 36px;
    font-weight: 700;
}
.ProseMirror h2{
    font-size: 28px;
     font-weight: 600;
}
.ProseMirror h3{
    font-size: 24px;
     font-weight: 500;
}
.ProseMirror h4{
    font-size: 16px;
     font-weight: 400;
}
.ProseMirror ul{
    list-style-type: disc;
    padding-left: 24px;
}
.ProseMirror ol{
    list-style-type: decimal;
    padding-left: 24px;
}
.ProseMirror u{
    text-decoration: underline;
}